<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GOOGLE_CLIENT_ID_KEY</key>
	<string>557838838021.apps.googleusercontent.com</string>
	<key>GOOGLE_CLIENT_SECRET_KEY</key>
	<string>8cKrTYIcnyeZB9lrO23rgFVS</string>
</dict>
</plist>
